extends ../layout

block content
  .container
    h1.page-header 예약내용
    
    p 
      div 호스트(Email) : #{reserve.hostemail}
    p 
      div 예약자(Email) : #{reserve.useremail}
    p
      div 인원수 : #{reserve.people}
    p
      div 기간 : #{moment(reserve.checkin).format('YYYY-MM-DD')} ~ #{moment(reserve.checkout).format('YYYY-MM-DD')}
    
    a.btn.btn-default(href='javascript:window.history.back();') 뒤로

